
/* DESKTOP STYLES */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:  #161616;
    width: 100%;
    color: #DBDBDB;
    font-family: 'Noto Sans Georgian", sans-serif';
    
}

.header {
    width: 100%;
    padding: 1rem 2rem;
    z-index: 99;
    position: fixed;
    height: 84px;
    background-color: #1A1E1F;
}

main {
    position: relative;
    top: 84px;
}

.header_div {
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header_logo {
    width:182px;
}

.header_unordered_list {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.lists_hyperlink {
    cursor: pointer;
    font-weight: 400;
    line-height: 26px;
    transition: 0.3s ease-in-out;
    color: #f4f4f4;
    font-size: 0.87em;
    letter-spacing: 0.5px;
}

.lists_hyperlink:hover {
    color: #00A3E0;
}

.navigation_lists:nth-child(3) > a.lists_hyperlink {
    color: #00A3E0;
}

.burger_menu {
    width: 26px;
    height: 21px;
    position: relative;
    cursor: pointer;
    /* display: none; */
}

.burger_bar {
    height: 3px;
    border-radius: 8px;
    width: 100%;
    position: absolute;
    background-color: #DBDBDB;
    transition: .3s ease-in-out;
}

.bar1 {
    width: 50%;
    top: 0;
    left: 0;
    transform-origin: left;
}

.rotate_bar1 {
    rotate: 45deg;
    transform: translate(50%, 50%);
}

.bar2 {
    top: 50%;
}

.rotate_bar2 {
    transform: rotate(-45deg);
}

.bar3 {
    width: 50%;
    bottom: 0;
    right: 0;
    transform-origin: right;
}

.rotate_bar3 {
    rotate: 45deg;
    transform: translate(-50%, -50%);
}

/* MAIN styles */


.section1_tech_knowledge {
    background-color: #2B2B2B;
}

.section1_upper_part {
    width: 100%;
    height: 352px;
    overflow: hidden;
    position: relative;
}

.background_image {
    width: 100%;
    margin-bottom: 20px;
    height: 352px;
    object-fit: cover;
}

.heading_container {
    position: absolute;
    left: 0; /* Adjust the distance from the left side */
    top: 50%;
    transform: translateY(-50%);
    width:clamp(300px, 1140px, 61%);
    display: flex;
    justify-content: flex-end;
}

.heading_h1 {
    font-size: 34px;
    font-weight: 1000;
    line-height: 180%;
    margin-left:2rem ;
}
.heading_h1 > span {
    font-size: 42px;
}

.section1_lower_part {
    margin-top: 3.8rem;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    padding-bottom: 4.2rem;
    align-items: center;
}

.info_box {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.propgram_description_txt {
    font-size: 1.83em;
    line-height: 150%;
}

.see_more_hyperlink {
    color: #00A3E0;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
    width: 200px;
}

.see_more_hyperlink:hover {
    color: rgb(168, 168, 168);
}

.section2_learning_courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin-top: 3rem;
}

.section2_heading, .section3_heading, .section4_heading {
    display: flex;
    width: clamp(300px, 1000px, 100%);
    margin-bottom: 5rem;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
}

.grid_container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 40px;
}

.course_card {
    height: 414px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid  rgb(83, 82, 82);
}

.course_card_image{
    height: 150px;
}

.course_info_txt, .more_course_details {
    padding:0 1.4rem;
}

.course_info_txt {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    margin-top: 2.3rem;
    font-weight: 700;
}

.course_info_txt > h5 {
    font-size: 18px;
    font-weight: 500;
}

.course_info_txt > p {
    font-size: 14px;
    font-weight: 500;
}

.more_course_details {
    display: flex;
    gap: 10px;
    align-items: center;
}

.more_course_details > a {
    color: #00A3E0;
}

.fa-arrow-right {
    color: #00A3E0;
    font-size: 1.2em;
}

.mutual_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 1.8rem;
}

/* SLIDER SECTION */
.right {
    transform: rotate(-180deg);
    right: 6rem;
}

.left {
    left: 6rem;
}

.section3_project_partners {
    margin-top: 3.6rem;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.6rem;
    padding-bottom: 5rem;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 1.5rem;
}

.slider_arrow {
    height: 34px;
    width: 34px;
    cursor: pointer;
    position: absolute;
}

.slider_arrow > path {
    stroke: white;
}

.slider_arrow:hover {
    opacity: 0.7;
}

.marks {
    display: flex;
    gap: 0.8rem;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: #DBDBDB;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1.5rem;
}

.active_mark {
    background-color: white;
}

.project_partners {
    width: 100%;
    max-width: 1000px;
}

.slider_element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 2rem;
    width: 100%;
    height: 80px;
    animation: fadeIn 3s;
}

.slider2, .slider3 {
    display: none;
}

.slider3 {
    justify-content: center;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* STYLES FOR FAQ */

.section4_heading {
    display: flex;
    justify-content: space-between;
    width: clamp(300px, 900px, 100%);
    margin-bottom: 3.1rem;
}

.section4_faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin-top: 7rem;
    margin-bottom: 9rem;
}

.all_question_hyperlink {
    color: #00A3E0;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
}

.all_question_hyperlink:hover {
    color: rgb(168, 168, 168);
}

.accordion_faq_content {
    width: clamp(300px, 900px, 100%);
}

.accordion_btn {
    background-color: transparent;
    border: none;
    color: #DBDBDB;
    font-size: 1.15em;
    font-family: 'Noto Sans Georgian", sans-serif';
    margin-bottom: 2rem;
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
    text-align: left;
}

.questions_content {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.questions_content.show {
    max-height: 2000px; 
    transition: max-height 3s ease-in-out; 
}

.questions_content > p {
    font-size: 0.9em;
    margin-bottom:2rem;
    line-height: 180%;
    max-height: auto;
}

.unorder_list_faq {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.accordion_faq_lists {
    font-size: 0.9em;
    line-height: 180%;
}

.important {
    margin-top: 3rem;
}

.active_faq_btn {
    display: block;
}

.accordion_btn::after {
    content:'\02795';
    font-size: 13px;
    color: #DBDBDB;
    float: right;
    margin-left: 5px;
}

.underline {
    height: 1px;
    background-color: gray;
    width: 100%;
    margin-bottom:1.5rem ;
}

/* FOOTER STYLES */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1E1F;
    padding: 1rem 2rem;
    width: 100%;
}
.footer_main_container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.copyright {
    font-size: 0.9em;
}

.footer_logo {
    width: 106px;
}

.terms_policy {
    color: #DBDBDB;
    transition: 0.3s ease-in-out;
    font-size: 0.9em;
}

.terms_policy:hover {
    color: rgb(168, 168, 168);
}

.social_icons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.txt_us_mail {
    padding: 0.7rem 2rem;
    color: white;
    background-color: #00A3E0;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.txt_us_mail:hover {
    background-color: #DBDBDB;
    color: gray;
}

.footer_social {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Media queries to make responsive web */

@media screen and (max-width:900px) {
    .grid_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .course_card {
        width: 300px;
    }
}

@media screen and (max-width: 890px) {

    .slider_element {
        display: flex;
        flex-direction: column;
        height: 300px;
        align-items: center;
        justify-content: center;
    }

    .slider_arrow {
        display: none;
    }
    .section3_heading {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        position: relative;
    }

    .header_div {
        position: relative;
    }

    .navigation_container {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: -100%;
        width: 0%;
        overflow: clip;
        padding-top: 80px;
        z-index: 1000;
        background-color: #E1D4C9;
        height: 100vh;
        justify-content: top;
        align-items: center;
        font-size: 32px;
        line-height: 40px;
        row-gap: 60px;
        transition: all 2s ease;
    }

    .navigation_container ul.switch {
        width: 100%;
        overflow-y: clip;
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 610px) {
    .heading_h1 {
        font-size: 24px;
    }
    .heading_h1 > span {
        font-size: 30px;
    }
    .propgram_description_txt {
        font-size: 22px;
    }
}
@media screen and (max-width: 705px) {
    .course_card {
        height: 290px;
        width:300px;
    }
    .course_info_txt {
        margin-top: 1.5rem;
        gap: 1rem;
    }

    .course_info_txt > h5 {
        font-size: 15px;
    }
}